/2-ollama-privateGPT-chat-with-docs/ollama_document_read/
/2-ollama-privateGPT-chat-with-docs/pdf_documents/
/2-ollama-privateGPT-chat-with-docs/pdf_documents/
/2-ollama-privateGPT-chat-with-docs/db/f7e694ae-9534-42e5-8f97-f04a7bbcc1c8/
/2-ollama-privateGPT-chat-with-docs/db/
